<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{/*  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>  */}}
  <link rel="stylesheet" href=".{{ "/css/main.css" | relURL }}">
  <title>{{ .Title }}</title>
</head>
<body>
  {{/* Navigation bar */}}
  <nav>{{ partial "nav.html" . }}</nav>

  {{/* Jumbotron */}}
  {{ partial "jumbotron.html" . }}

  {{/* Bullet boxes */}}
  <div class="flex flex-wrap justify-center gap-4 my-10">

      {{ partial "class/bulletbox.html" (dict
        "icon" "class/icons/code.html"
        "title" "powerful scripting"
        "description" "expand game functionality with Lua scripts"
      ) }}

      {{ partial "class/bulletbox.html" (dict
        "icon" "class/icons/bug.html"
        "title" "bug fixes"
        "description" "squash long-standing bugs and enjoy a more stable experience"
      ) }}
      {{ partial "class/bulletbox.html" (dict
        "icon" "class/icons/people.html"
        "title" "evolving community"
        "description" "join a growing community of developers and players"
      ) }}
  </div>
  
</body>
</html>