<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{/*  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>  */}}
  <link rel="stylesheet" href=".{{ "/css/main.css" | relURL }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>{{ .Title }}</title>
</head>
<body class="font-sans">
  {{/* Navigation bar */}}
  <nav>{{ partial "nav.html" . }}</nav>

  {{/* Jumbotron */}}
  {{ partial "jumbotron.html" . }}

  {{/* Bullet boxes */}}
  <div class="flex flex-wrap justify-center gap-4 my-10">

      {{ partial "class/bulletbox.html" (dict
        "icon" "class/icons/code.html"
        "title" "powerful scripting"
        "description" "expand game functionality with Lua scripts"
      ) }}

      {{ partial "class/bulletbox.html" (dict
        "icon" "class/icons/bug.html"
        "title" "bug fixes"
        "description" "squash long-standing bugs and enjoy a more stable experience"
      ) }}
      {{ partial "class/bulletbox.html" (dict
        "icon" "class/icons/people.html"
        "title" "evolving community"
        "description" "join a growing community of developers and players"
      ) }}
  </div>
  
</body>
</html>