{{/*  Jumbotron  */}}
<div class="relative h-150 overflow-hidden">

    {{/*  Background image  */}}
    <div class="h-150 bg-center bg-cover bg-no-repeat bg-jumbotron filter saturate-50 hue-rotate-20" style="image-rendering: -webkit-optimize-contrast; image-rendering: -moz-crisp-edges;">

    </div>

    {{/*  Info box  */}}
    <div class="absolute inset-0 flex items-center bg-opacity-50 max-w-6xl mx-auto">
        <div class="text-left text-white">
            {{/* Description */}}
            <p class="text-4xl font-bold max-w-90">an open source re-implementation of zoo tycoon 1</p>
            {{/* Buttons */}}
            <div class="mt-4 flex gap-4">
                <a href="/roadmap" class="inline-block px-6 py-2 bg-stone-600 text-white rounded hover:bg-stone-700">roadmap</a>
                <a href="/download" class="inline-block px-6 py-2 bg-stone-500 text-white rounded hover:bg-stone-600">download</a>
            </div>  
        </div>
    </div>
</div>