{{/*  Jumbotron  */}}
<div class="relative h-150 overflow-hidden border-b-5 border-ozt-accent">
    {{/*  Background color */}}

    {{/*  Background image  */}}
    <div class="h-150 bg-center bg-cover bg-no-repeat bg-jumbotron" style="image-rendering: -webkit-optimize-contrast; image-rendering: -moz-crisp-edges;">

    </div>

    {{/*  Info box  */}}
    <div class="absolute inset-0 flex items-center bg-opacity-50 max-w-6xl mx-auto px-8 sm:px-16 xl:px-0">
        <div class="text-left text-white bg-ozt-dark p-8 rounded bg-opacity-50 shadow-lg">
            {{/* Description */}}
            <p class="text-3xl font-bold max-w-90 shadow-text">an open source re-implementation of zoo tycoon 1</p>
            {{/* Buttons */}}
            <div class="mt-4 flex gap-4">
                <a href="#roadmap" class="inline-block px-6 py-2 bg-ozt-dbrown text-white rounded hover:brightness-80 transition duration-300">roadmap</a>
                <a href="https://github.com/openztcc/openzt/releases" class="inline-block px-6 py-2 bg-ozt-lbrown text-white rounded hover:brightness-80 transition duration-300">download latest</a>
            </div>  
            <p class="text-white text-sm opacity-50 mt-4 italic">Screenshot credit: DreadBalaur - March 2025</p>
        </div>
    </div>
</div>