{{/*  Jumbotron  */}}
<div class="relative h-96 overflow-hidden">

    {{/*  Background image  */}}
    <div class="h-150 bg-cover bg-center bg-[url(/images/banner.png)] filter saturate-50 hue-rotate-20">

    </div>

    {{/*  Info box  */}}
    <div class="absolute inset-0 flex items-center bg-opacity-50 max-w-6xl mx-auto">
        <div class="text-left text-white">
            <h1 class="text-4xl font-bold">OpenZT</h1>
            <p class="mt-2 text-lg">The open-source ZT client for Linux, Windows, and MacOS</p>
            <a href="/roadmap" class="mt-4 inline-block px-6 py-3 bg-stone-600 text-white rounded hover:bg-stone-700">roadmap</a>
            <a href="/download" class="mt-4 inline-block px-6 py-3 bg-stone-600 text-white rounded hover:bg-stone-700">download</a>
        </div>
    </div>
</div>