{{/* Main navigation */}}
<nav class="bg-brand text-white py-2 flex items-center justify-between max-w-6xl mx-auto h-14">
    <div class="flex items-center gap-2">
      <span class="font-bold  text-lg">openzt</span>
    </div>
    <div class="hidden lg:flex space-x-4 font-semibold">
      <a href="/releases" class="hover:text-black">releases</a>
      <a href="/tools" class="hover:text-black">tools</a>
      <a href="/tools" class="hover:text-black">documentation</a>
      <a href="/discord" class="hover:text-black">discord</a>
    </div>
</nav>
  