{{ define "main" }}
{{/* Main content */}}
{{/* Jumbotron */}}
{{ partial "partials/jumbotron.html" . }}

{{/* Roadmap */}}
<div class="flex flex-col items-center justify-center text-white py-10 px-8 sm:px-16 xl:px-0 bg-ozt-light">
  <div class="w-full max-w-6xl">
    <h1 class="text-4xl font-bold text-left my-10">
      {{ .Params.subtitle }}
    </h1>
    <p class="text-white text-lg max-w-6xl my-t-5">
      {{ .Content }}
    </p>
  </div>
  <div id="roadmap" class="flex flex-wrap justify-center gap-4 my-10 px-8 py-10 sm:px-16 xl:px-0">
    {{ partial "class/bulletbox.html" (dict
      "icon" "class/icons/code.html"
      "title" "powerful scripting"
      "description" "expand game functionality with Lua scripts"
    ) }}

    {{ partial "class/bulletbox.html" (dict
      "icon" "class/icons/bug.html"
      "title" "bug fixes"
      "description" "squash long-standing bugs and enjoy a more stable experience"
    ) }}
    {{ partial "class/bulletbox.html" (dict
      "icon" "class/icons/puzzle.html"
      "title" "mod manager"
      "description" "easily install and manage mods with a user-friendly interface"
    ) }}
  </div>
</div>
{{ end }}