@import "tailwindcss";

/* Custom background image classes */
@layer utilities {
  .bg-jumbotron {
    background-image: url('../images/bannerv2.png');
  }
}

@theme {
    /* Font styles */
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;

    /* Custom color palettes */
    --color-ozt-default: #34472D;
    --color-ozt-dark: #273621;
    --color-ozt-sdark: #77956C;    
    --color-ozt-light: #93B885;
    --color-ozt-accent: #FED284;
    --color-ozt-dbrown: #5A5533;
    --color-ozt-lbrown: #807849;
}